header {
    --link-width: clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);
    --top: 0rem;
    --margin-inline: 0rem;
    --border-radius-header: 0;
    --major-axis: calc(
        min(100%, clamp(720px, 100vw, 960px)) - calc(var(--top) * 2)
    );

    background-color: var(--clr-brand-200);
    position: sticky;
    top: var(--top);
    z-index: 10;
    writing-mode: var(--writing-mode, horizontal-tb);
    color: var(--clr-brand-700);
    padding: var(--padding-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--major-axis);
    border-radius: var(--border-radius-header);
    box-shadow: 0 -2rem 2rem 2.25rem var(--clr-brand-100);
    margin-block: var(--top);
    margin-inline: var(--top);

    .logo-wrapper {
        height: clamp(1.25rem, 0.95rem + 1.275vw, 1.5625rem);
    }

    & .avatar-container {
        border-radius: 50%;
        border: 1px solid var(--clr-white);
        margin-top: auto;
    }

    & :is(.logo-wrapper, img) {
        width: clamp(1.5rem, 1rem + 2vw, var(--image-max-width, 2rem));
    }

    & .avatar {
        --image-max-width: 2.5rem;
    }

    @media (min-width: 768px) {
        --border-radius-header: 0.625rem;
        --link-width: 1.25rem;
        --top: 1.5rem;
    }
    @media (min-width: 1100px) {
        --writing-mode: vertical-rl;
        --border-radius-header: 1.25rem;
        --top: 2rem;
        width: auto;
        height: var(--major-axis);

        & nav {
            margin-top: 4.6875rem;
        }
    }
}

nav ul {
    display: flex;
    align-items: center;
    gap: var(--nav-link-gap);

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--link-width);
        aspect-ratio: 1;
        cursor: default;

        & svg path {
            transition: var(--transition-fill);
        }

        &.active svg path {
            fill: var(--clr-white);
        }

        &:hover:not(.active) svg {
            cursor: pointer;
            & path {
                fill: var(--clr-accent);
            }
        }
    }
}
