:root {
    --accent-opacity: 1;
    --brand-100-opacity: 1;
    --brand-200-opacity: 1;
    --brand-700-opacity: 1;
    --white-opacity: 1;
    --clr-accent: hsla(0, 97%, 63%, var(--accent-opacity));
    --clr-white: hsla(0, 0%, 100%, var(--white-opacity, 1));
    --clr-brand-100: hsla(223, 30%, 9%, var(--brand-100-opacity));
    --clr-brand-200: hsla(223, 36%, 14%, var(--brand-200-opacity));
    --clr-brand-700: hsla(223, 23%, 46%, var(--brand-700-opacity));

    --treding-overlay-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.75) 100%);
    --trending-overlay-height: clamp(4.375rem, 2.5859rem + 7.6336vw, 6.25rem);

    --ff-primary: "Outfit", sans-serif;

    --fs-sm: 0.8125rem; /* 13px*/
    --fs-base: 1rem; /* 16px*/
    --fs-md: 1.125rem; /* 18px*/
    --fs-lg: 1.25rem; /* 20px*/
    --fs-xl: 1.5rem; /* 24px*/
    --fs-xxl: 2rem; /* 32px*/

    --fs-heading: clamp(var(--fs-lg), 0.5rem + 3vw, var(--fs-xxl));
    --lh-heading: 1.27;

    --fw-light: 300;
    --fw-medium: 500;

    --nav-link-gap: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
    --nav-link-width: clamp(1rem, 0.761rem + 1.018vw, 1.25rem);

    --opacity-light-text: 0.75;
    --opacity-extra-light-text: 0.5;
    --opacity-extra-extra-light-text: 0.25;
    --border-radius-header: 0.5rem;

    --padding-sm: 0.5rem;
    --padding-base: 1rem;
    --padding-md: 1.5rem;
    --padding-sm-tab: clamp(var(--padding-sm), 0.023rem + 2.036vw, var(--padding-base));
    --padding-base-desk: clamp(var(--padding-base), 0.5rem + 2vw, 2.5rem);
    --padding-header: clamp(var(--padding-base), 0.5rem + 2vw, 1.75rem);

    --margin-inline-trending-bookmark: clamp(var(--padding-sm), -0.45rem + 4vw, var(--padding-md));


    --margin-media-info: clamp(var(--padding-base), 0.5rem + 2vw, var(--padding-md));

    --flex-direction-body: column;


    /* transition */
    --trans-duration: 250ms;
    --trans-property-bg: background-color;
    --trans-property-fill: fill;
    --trans-property-opacity: opacity;
    --trans-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    
    --transition-bg: var(--trans-property-bg) var(--trans-duration)
        var(--trans-timing-function);
    --transition-fill: var(--trans-property-fill) var(--trans-duration)
        var(--trans-timing-function);
    --transition-opacity: var(--trans-property-opacity) var(--trans-duration)
        var(--trans-timing-function);
    

}

body {
    color: var(--clr-white);
    background-color: var(--clr-brand-100);
    font-weight: var(--fw-light);
    font-family: var(--ff-primary);
    overflow-x: hidden;
}

#root {
    display: flex;
    max-width: 90rem;
    min-height: 100vh;
    align-items: center;
    flex-direction: var(--flex-direction-body);
    margin-inline: auto;
    @media (min-width: 1100px) {
        --flex-direction-body: row;
        align-items: flex-start;
    }
}
