@import "reset.css";
@import "root.css";
@import "header.css";
@import "searchform.css";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-light);
    line-height: var(--lh-heading);

    &[data-margin="true"] {
        margin-bottom: var(--padding-md);
    }

    &[data-weight="medium"] {
        font-weight: var(--fw-medium);
    }
}

main {
    padding: var(--padding-base-desk);
    width: 100%;
}

.showcase {
    --cell-width: clamp(7.5rem, 2.729rem + 20.3562vw, 17.5rem);
    --gap-col: clamp(var(--fs-base), 0.5rem + 2vw, var(--fs-xxl));
    --gap-row: clamp(var(--fs-base), 1.4rem + 1.2vw, 2.5rem);
    display: grid;
    column-gap: var(--gap-col);
    row-gap: var(--gap-row);
    width: min(100%, 1240px);
    grid-template-columns: repeat(auto-fit, minmax(var(--cell-width), 1fr));
}

.card {
    position: relative;
    isolation: isolate;

    .bookmark-icon-container {
        --brand-100-opacity: var(--opacity-extra-light-text);
        position: absolute;
        inset: 0 0 auto auto;
        width: 2rem;
        margin: clamp(0.5rem, 0.0229rem + 2.0356vw, 1rem);
        aspect-ratio: 1;
        border: none;
        border-radius: 50%;
        /* background-color: var(--clr-brand-100); */
        background-color: hsla(223, 30%, 9%, var(--brand-100-opacity, 1));
        cursor: pointer;
    }

    .img-container {
        border-radius: var(--border-radius-header);
        overflow: hidden;
        margin-bottom: 0.5rem;
    }

    & img {
        object-fit: cover;
        width: 100%;
    }

    & p {
        font-size: var(--fs-sm);
        line-height: var(--lh-heading);
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 5px;

        & span:not(.card-icon-container) {
            opacity: var(--opacity-light-text);
        }
    }

    .card-icon-container {
        width: clamp(0.625rem, 0.5rem + 0.5vw, 0.75rem);
    }

    & h3 {
        font-size: clamp(var(--fs-sm), 0.6rem + 1vw, var(--fs-md));
        letter-spacing: 0.1px;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
