@import "reset.css";
@import "root.css";
@import "header.css";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-light);
    margin-bottom: var(--padding-md);

    &[data-weight="medium"] {
        font-weight: var(--fw-medium);
    }
}

main {
    padding: var(--padding-base-desk);
    width: 100%;
}

:not(:placeholder-shown) + label {
    left: 100%;
}

form {
    --gap: clamp(var(--fs-base), 0.5rem + 2vw, var(--fs-xl));
    --fs-input: clamp(var(--fs-base), 0.5rem + 2vw, var(--fs-xl));
    --lh-input: clamp(var(--fs-lg), 0.65rem + 2.55vw, 1.875rem);
    --icon-width: clamp(var(--fs-xl), 1rem + 2vw, var(--fs-xxl));

    display: flex;
    align-items: center;
    /* padding-right: 36px; */
    gap: var(--gap);
    color: var(--clr-white);
    position: relative;
    overflow: hidden;
    font-size: var(--fs-input);
    line-height: var(--lh-input);

    .search-icon-wrapper {
        width: var(--icon-width);
        aspect-ratio: 1;
        overflow: hidden;
    }

    & label {
        position: absolute;
        opacity: var(--opacity-extra-light-text);
        left: calc(var(--icon-width) + var(--gap));
    }

    & input {
        background-color: transparent;
        border: 1px solid transparent;
        outline: none;
        color: inherit;
        width: 100%;
        padding-block: var(--fs-base);
        caret-color: var(--clr-accent);

        &:is(:hover, :focus-visible) {
            border-bottom-color: var(--clr-brand-700);
        }
    }
}

.card {
    padding: var(--padding-sm-tab);
}
