@import "reset.css";
@import 'root.css';
@import 'header.css';



h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-light);
    margin-bottom: var(--padding-md);

    &[data-weight="medium"] {
        font-weight: var(--fw-medium);
    }
}

main {
    padding: var(--padding-base-desk);
}

.card {
    padding: var(--padding-sm-tab);
}
